<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61945639512-ir2su9ogh42d0cbe948v8190bv7d756a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61945639512-ir2su9ogh42d0cbe948v8190bv7d756a</string>
	<key>API_KEY</key>
	<string>AIzaSyCioLBDAzJpgGFHXnEcuB6RqXu7xvtF40o</string>
	<key>GCM_SENDER_ID</key>
	<string>61945639512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicky.flushChat</string>
	<key>PROJECT_ID</key>
	<string>flush-chat-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>flush-chat-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61945639512:ios:9baf13bd2c32d1fa8bd02d</string>
</dict>
</plist>